Repository vivekrnv/sonic-buildimage: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/docker-sonic-mgmt-mixed.yml, .azure-pipelines/docker-sonic-mgmt.yml, .azure-pipelines/docker-sonic-slave-arm64.yml, .azure-pipelines/docker-sonic-slave.yml, azure-pipelines-bluefield.yml, azure-pipelines.yml

.azure-pipelines/docker-sonic-mgmt-mixed.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool: sonicso1ES-amd64
      timeoutInMinutes: 360
      steps:
      - template: cleanup.yml
      - checkout: self
        clean: true
      - script: 'set -x
  
  ...

.azure-pipelines/docker-sonic-mgmt.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
    always: true
  stages:
  - stage: Build
    jobs:
    - job: Build
      pool: sonicbld
      timeoutInMinutes: 360
      steps:
      - template: cleanup.yml
      - checkout: self
        clean: true
      - bash: 'set -xe
  
  ...

.azure-pipelines/docker-sonic-slave-arm64.yml:
  schedules:
  - cron: 0 8 * * *
    branches:
      include:
      - master
      - 202012
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if contains(variables['Build.DefinitionName'], dist) }}:
        - template: docker-sonic-slave-template.yml
  ...

.azure-pipelines/docker-sonic-slave.yml:
  schedules:
  - cron: 0 0 * * 0
    displayName: Weekly build
    branches:
      include:
      - master
      - 202???
    always: true
  stages:
  - stage: Build
    jobs:
    - ${{ each dist in parameters.dists }}:
      - ${{ if endswith(variables['Build.DefinitionName'], dist) }}:
  ...

azure-pipelines-bluefield.yml:
  schedules:
  - cron: 0 0 * * *
    displayName: Daily midnight build
    branches:
      include:
      - bluefield
    always: true
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicbld
    jobs:
  ...

azure-pipelines.yml:
  name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  stages:
  - stage: BuildVS
    pool: sonicso1ES-amd64
    jobs:
    - template: .azure-pipelines/azure-pipelines-build.yml
      parameters:
  ...

[pddf] cpldmux: Suppress routine channel switching logs by default (#27764)
  platform/pddf/i2c/modules/cpldmux/driver/pddf_cpldmux_driver.c
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

[nvidia-bluefield] Add syncd to critical process list (#28053)
  platform/nvidia-bluefield/docker-syncd-bluefield/critical_processes
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

sysctl: enable ignore_routes_with_linkdown for IPv4 and IPv6 (#27420)
  files/image_config/sysctl/90-sonic.conf
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

Docker: Prevent first-boot platform startup failures by disabling IPv6 iptables management (#27863)
  build_debian.sh
  files/docker/docker-netfilter-ready.sh
  files/docker/docker.service.conf
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

modify cpo bailly device (#27808)
  device/micas/x86_64-micas_m2-w6940-128x1-fr4-r0/cpo.json
  platform/broadcom/sonic-platform-modules-micas/common/sonic_platform/cpo.py
  platform/broadcom/sonic-platform-modules-micas/m2-w6940-128x1-fr4-pure-pd/cpo/lib/cpoutil.py
  platform/broadcom/sonic-platform-modules-micas/m2-w6940-128x1-fr4/cpo/lib/cpoutil.py
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

[Nokia-vs] Enhancements on fpga, platform temp alg and error fixes (#27470)
  device/nokia/arm64-nokia_ixs7215_c1xa-r0/Nokia-7215-C1-mp/hwsku.json
  device/nokia/arm64-nokia_ixs7215_c1xa-r0/Nokia-7215-C1-mp/lanemap.ini
  device/nokia/arm64-nokia_ixs7215_c1xa-r0/Nokia-7215-C1-mp/port_config.ini
  device/nokia/arm64-nokia_ixs7215_c1xa-r0/Nokia-7215-C1-mp/profile.ini
  device/nokia/arm64-nokia_ixs7215_c1xa-r0/Nokia-7215-C1-mp/sai.profile
  platform/nokia-vs/sonic-platform-nokia/7215-c1/modules/cn9130_led.c
  platform/nokia-vs/sonic-platform-nokia/7215-c1/modules/mule_uart.c
  platform/nokia-vs/sonic-platform-nokia/7215-c1/scripts/intf_sync.py
  platform/nokia-vs/sonic-platform-nokia/7215-c1/scripts/nokia-7215-init.sh
  platform/nokia-vs/sonic-platform-nokia/7215-c1/scripts/nokia-7215-postinit.sh
  platform/nokia-vs/sonic-platform-nokia/7215-c1/service/nokia-7215-postinit.service
  platform/nokia-vs/sonic-platform-nokia/7215-c1/service/nokia-7215init.service
  platform/nokia-vs/sonic-platform-nokia/7215-c1/sonic_platform/thermal.py
  platform/nokia-vs/sonic-platform-nokia/7215-c1/sonic_platform/thermal_infos.py
  platform/nokia-vs/sonic-platform-nokia/debian/sonic-platform-nokia-7215-c1.install
  platform/nokia-vs/sonic-platform-nokia/debian/sonic-platform-nokia-7215-c1.postinst
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

[build]: Fix worktree builds (#28080)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines-bluefield.yml, azure-pipelines.yml

ctrmgrd: default Kubernetes join to secure TLS verification (#28051)
  src/sonic-ctrmgrd/ctrmgr/ctrmgrd.py
  src/sonic-ctrmgrd/ctrmgr/kube_commands.py
  src/sonic-ctrmgrd/tests/ctrmgrd_test.py
  src/sonic-ctrmgrd/tests/kube_commands_test.py
  src/sonic-yang-models/yang-models/sonic-kubernetes_master.yang
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

[sonic-frr]: backport FRRouting/frr PR 20181 to fix tcpdump-triggered route re-download (#28043)
  src/sonic-frr/patch/0115-zebra-Update-promiscuity-flag-silently-without-route.patch
  src/sonic-frr/patch/series
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

slave.mk: archive patched source tree for static analysis (#26892)
  .artifactignore
  .azure-pipelines/azure-pipelines-build.yml
  .azure-pipelines/build-template.yml
  rules/config
  slave.mk
Due: .azure-pipelines/docker-sonic-slave-arm64.yml, azure-pipelines-bluefield.yml, azure-pipelines.yml

[build] Don't invalidate cache for RPC flag (#28078)
  Makefile.cache
  rules/syncd.dep
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

[docker-sonic-mgmt] pin ansible to 13.6.0 to avoid ansible-core 2.21 broken pipe (#28103)
  dockers/docker-sonic-mgmt/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-mgmt-mixed.yml, .azure-pipelines/docker-sonic-mgmt.yml, azure-pipelines-bluefield.yml, azure-pipelines.yml

[github]: Add 202512 and 202608 to backport release branch list in PR template (#28113)
  .github/pull_request_template.md
Due: none

gnmi: restrict --noTLS fallback to loopback interface (#28110)
  dockers/docker-sonic-gnmi/gnmi-native.sh
  dockers/docker-sonic-telemetry/telemetry.sh
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

Makefile.work: forward ENABLE_SOURCE_ARCHIVE into slave container (#28112)
  Makefile.work
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines-bluefield.yml, azure-pipelines.yml

[ci/build]: Upgrade SONiC package versions (#28124)
  files/build/versions-public/build/build-sonic-slave-trixie/versions-deb-trixie-armhf
  files/build/versions-public/default/versions-docker
  files/build/versions-public/default/versions-git
  files/build/versions-public/default/versions-mirror
  files/build/versions-public/dockers/docker-base-trixie/versions-deb-trixie
  files/build/versions-public/dockers/docker-bmp-watchdog/versions-deb-trixie
  files/build/versions-public/dockers/docker-config-engine-trixie/versions-deb-trixie
  files/build/versions-public/dockers/docker-database/versions-py3
  files/build/versions-public/dockers/docker-dhcp-relay/versions-deb-trixie
  files/build/versions-public/dockers/docker-dhcp-server/versions-deb-trixie
  files/build/versions-public/dockers/docker-gbsyncd-agera2/versions-deb-trixie
  files/build/versions-public/dockers/docker-gbsyncd-broncos/versions-deb-trixie
  files/build/versions-public/dockers/docker-gbsyncd-vs/versions-deb-trixie
  files/build/versions-public/dockers/docker-gnmi-watchdog/versions-deb-trixie
  files/build/versions-public/dockers/docker-platform-monitor/versions-deb-trixie
  files/build/versions-public/dockers/docker-ptf/versions-py3
  files/build/versions-public/dockers/docker-snmp/versions-deb-trixie
  files/build/versions-public/dockers/docker-sonic-mgmt-framework/versions-deb-trixie
  files/build/versions-public/dockers/docker-syncd-brcm-dnx-rpc/versions-deb-trixie
  files/build/versions-public/dockers/docker-syncd-brcm-rpc/versions-deb-trixie
  files/build/versions-public/dockers/docker-syncd-mlnx-rpc/versions-deb-trixie
  files/build/versions-public/dockers/docker-syncd-mlnx/versions-deb-trixie
  files/build/versions-public/dockers/docker-syncd-vs/versions-deb-trixie
  files/build/versions-public/dockers/sonic-slave-bookworm/versions-deb-bookworm
  files/build/versions-public/dockers/sonic-slave-bookworm/versions-py3
  files/build/versions-public/dockers/sonic-slave-trixie/versions-deb-trixie
  files/build/versions-public/dockers/sonic-slave-trixie/versions-py3
  files/build/versions-public/host-image/versions-deb-trixie
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

Modified code to copy RackManager config file (OEM) to the host system.d (#27996)
  files/build_templates/sonic_debian_extension.j2
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

[nvidia-bmc] update arm64-aspeed_nvidia_ast2700_bmc-r0 (#27854)
  device/aspeed/arm64-aspeed_nvidia_ast2700_bmc-r0/pcie.yaml
  device/aspeed/arm64-aspeed_nvidia_ast2700_bmc-r0/platform.json
  device/aspeed/arm64-aspeed_nvidia_ast2700_bmc-r0/system_health_monitoring_config.json
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/sonic_platform/chassis.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/sonic_platform/eeprom.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/sonic_platform/leakage_sensor.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/sonic_platform/reboot_cause.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/sonic_platform/switch_host_module.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/sonic_platform/thermal.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/tests/test_chassis.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/tests/test_eeprom.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/tests/test_leakage_sensor.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/tests/test_reboot_cause.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/tests/test_switch_host_module.py
  platform/aspeed/sonic-platform-modules-nvidia-bmc/ast2700/tests/test_thermal.py
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

[sflow] Upgrade hsflowd to 2.1.26-1 and sflowtool to 6.11 (#27806)
  rules/sflow.mk
  src/sflow/hsflowd/patch/0001-host_sflow_debian.patch
  src/sflow/hsflowd/patch/0001-host_sflow_psample.patch
  src/sflow/hsflowd/patch/0003-sflow-enabled-drop-monitor-support-for-SONiC.patch
  src/sflow/hsflowd/patch/0004-When-interface-removed-just-as-we-discover-it-log-wi.patch
  src/sflow/hsflowd/patch/0005-Use-close-range-syscall-over-blindly-looping-over-al.patch
  src/sflow/hsflowd/patch/0006-mod_sonic-defer-redis-commands.patch
  src/sflow/hsflowd/patch/0007-hsflowd-stop-overriding-sigabrt.patch
  src/sflow/hsflowd/patch/0008-mod_sonic-batch-port-discovery.patch
  src/sflow/hsflowd/patch/0009-mod_sonic-debug-sndbuf.patch
  src/sflow/hsflowd/patch/0010-mod_sonic-fix-write-recursion-via-evbus.patch
  src/sflow/hsflowd/patch/series
  src/sflow/sflowtool/Makefile
  src/sflow/sflowtool/debian/changelog
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

Add a service to save the epoch frequently (#28050)
  files/build_templates/sonic_debian_extension.j2
  files/image_config/systemd/set-epoch.service
  files/image_config/systemd/set-epoch.sh
  files/image_config/systemd/set-epoch.timer
  files/initramfs-tools/union-mount.j2
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

[build] Stop installing python3-regex via apt to avoid pip uninstall-no-record-file failure (#28144)
  files/build_templates/sonic_debian_extension.j2
  sonic-slave-trixie/Dockerfile.j2
Due: .azure-pipelines/docker-sonic-slave.yml, azure-pipelines-bluefield.yml, azure-pipelines.yml

[Nvidia-Bluefiled] Update NASA/SAI to 26.4-RC7/SAIBuild0.0.55.0
  platform/nvidia-bluefield/recipes/dpu-sai.mk
  platform/nvidia-bluefield/recipes/sdk.mk
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

Remove linux headers dependency for DPDK
  platform/nvidia-bluefield/sdk-src/dpdk/0001-Remove-linux-headers-dependency.patch
  platform/nvidia-bluefield/sdk-src/dpdk/Makefile
Due: azure-pipelines-bluefield.yml, azure-pipelines.yml

Path conditions:
  .azure-pipelines/docker-sonic-mgmt-mixed.yml: any of: dockers/docker-sonic-mgmt
  .azure-pipelines/docker-sonic-mgmt.yml: any of: dockers/docker-sonic-mgmt
  .azure-pipelines/docker-sonic-slave-arm64.yml: any of: sonic-slave-jessie, sonic-slave-stretch, sonic-slave-buster, sonic-slave-bullseye, .azure-pipelines
  .azure-pipelines/docker-sonic-slave.yml: any of: sonic-slave-*, files/build/versions, Makefile, Makefile.work
  azure-pipelines-bluefield.yml: any file but: .github
  azure-pipelines.yml: any file but: .github
